<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shsh.messenger">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" tools:node="remove"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT" tools:node="remove"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" tools:node="remove"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" tools:node="remove"/>
    
    <application
        android:usesCleartextTraffic="true"
        android:label="ЩЩ"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.flutter_downloader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="FLUTTER_NOTIFICATION_CLICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.shsh.messenger"/>
            </intent-filter>
        </activity>

        <!-- FlutterLocalNotificationsPlugin Receivers -->
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.ScheduledNotificationReceiver" android:exported="true"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.NotificationActionReceiver" android:exported="true"/>
        <receiver android:name="com.dexterous.flutterlocalnotifications.receivers.NotificationMediaReceiver" android:exported="true"/>

        <!-- FlutterLocalNotificationsPlugin Service -->
        <service
            android:name="com.dexterous.flutterlocalnotifications.FlutterLocalNotificationsService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

        <!-- Firebase Messaging Service -->
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Meta-data for Firebase and Flutter -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="badrustuts"/>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
        <meta-data
            android:name="firebase_messaging_auto_notification_enabled"
            android:value="false"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent"/>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false"/>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>
         <!-- <meta-data 
            android:name="push_kit_auto_init_enabled" 
            android:value="true" />  -->
    </application>

    <!-- Queries for text processing and browsable intents -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
